body {
    background: #000a2e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn {
    background: darkred;
}
#decrement-btn {
    background: darkred;
}
#save-btn {
    background: darkgreen;
}

#save-el(){
    color: darkblue;
    
}
img {
    vertical-align: middle;
    border-style: none;
}

#starsLeft {
    position: absolute;
    left: 0;
    top: 5%;
    opacity: 0.7;
    z-index: 2;
}

#starsRight {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 5%;
    opacity: 0.7;
}

#mainDiv {
    color: #ffffffef;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;

}

#logo {
    height: 30vh;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
@media screen and (max-width: 720px) {
    #mainDiv {
        color: #ffffffef;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 8;
        align-items: center;
        justify-content: center;
        display: flex !important;
        flex-direction: column !important;
    }

    #logo {
        height: 100px;
        vertical-align: top;
        position: relative;
    }
}
#MainText {
    color: #ffffffef;
    text-align: center !important;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    
}


@keyframes Animation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.clouds {
    position: absolute;
    bottom: 0;
    width: 99%;
}

#cloudLeftTop {
    position: absolute;
    top: -10%;
    left: -20px;
    z-index: 1;
}

#cloudBottomRight {
    position: absolute;
    bottom: 10%;
    right: -20px;
    z-index: 1;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 1px;
    background: linear-gradient(
        -45deg,
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
    );
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out, shooting 3000ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

